* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    list-style: none;
    font-family: Helvetica;
}

body {
    max-width: 100vw;
    max-height: 100vh;
    color: white;
}

header {
    width: 100%;
    height: 0 auto;
    padding: 5px;
    background-color: black;
}

.menu {
    height: 0 auto;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    color: #f3f3f3;
    margin: 5px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Courier New';
    text-align: center;
}

.logo > h4 {
    color: #f3f3f3;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    text-align: center; 
    letter-spacing: 5px;
}

.itens {
    display: flex;
    padding: 5px;
    margin: 5px;
}

.btn-menu {
    color: #f3f3f3;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.5s;
}

.btn-menu:hover {
    background-color: #e85d04;
    transform: scale(1.04);
}

.home { /*seção paralax*/
    width: 100%;
    padding: 291px 0px;
    text-align: center;
    text-transform: uppercase;
    background-color: black;
    
}

.especialidades { /*seção das especialidades*/
    width: 100%;
    position: relative;
    padding: 60px 25px;
    text-align: center;
    display: inline-block;
    background-image: url(img/background-01.jpg);
    background-position: center;
    opacity: 1;
}

.paralax {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 65px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.4;
    background-image: url(img/prato.jpg);
}

.home > h1 {
    font-size: 70px;
    letter-spacing: 4px;
}

.home > h3 {
    font-size: 30px;
    font-family: Lato;
    letter-spacing: 4px;
}

.especialidades > h1 {
    font-size: 40px;
    text-transform: uppercase;
}

.especialidades > h3 {
    font-size: 30px;
    font-family: Lato;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 60px;
}

.cards-ep {
    width: 350px;
    height: 56vh;
    margin: 15px;
    display: inline-block;
    background-color: white;
    border-radius: 11px;
    transition: 0.5s;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.623);
}

.rounded-cornes{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.baixo-ep > h3::after{

    box-shadow: 2px 2px 2px #f56f1c81;
    margin-left: 0px;
    margin-top: 11px;
    width: 111px;
    height: 2px;
    border-bottom: 2px solid;
    display: block;
    background-color: #e85d04;
    position: relative;
    content: "";

}

.cards-ep:hover {
    transform: scale(1.04);
}

.cima-ep { /*parte de cima do card*/
    
    height: 60%;
    width: 100%;
}

.img-01 {
    background-image: url(img/sobrecoxa.jpg);
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    
}


.maps{
    width: 35%;
    border-radius: 20px;
    display: flex;
    margin-left: 63%;
    box-shadow: 5px 5px 5px black;
    margin-bottom: 35px;
    background-color: rgb(0, 0, 0);

}


.parteMaps{
    display: flex;
    margin: auto 0;
}

iframe{
    border-radius: 19px;
    width: 100%;

}
.endereco-section > .container > .maps > iframe{
    width: 100%;
    display: flex;
}
.endereco-section{
    background-color: rgb(255, 255, 255);
    color: black;
}

.endereco-section  > .container > h2{
    padding: 25px;
    display: flex;
    justify-content: center;
}

.endereco-section> .container > p {
    display: flex;
    text-align: center;
    justify-content: center;
    /* margin-left: 70%; */

}

.parteFotos{
    margin-top: -447px;
}
i.button:active {
    transform: scale(0.94) translateY(-50%);
  }
  i#prev {
    left: 25px;
  }
  i#next {
    right: 25px;
  }
  .image-container {
    height: 320px;
    max-width: 500px;
    width: 100%;
    overflow: hidden;
  }
  .image-container .carousel {
    display: flex;
    height: 100%;
    width: 100%;
    transition: all 0.4s ease;
  }
  .carousel img {
    height: 100%;
    width: 100%;
    border-radius: 18px;
    border: 10px solid #fff;
    object-fit: cover;
  }

.wrapper i.button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 36px;
    width: 36px;
    background-color: #343f4f;
    border-radius: 50%;
    text-align: center;
    line-height: 36px;
    color: #fff;
    font-size: 15px;
    transition: all 0.3s linear;
    z-index: 100;
    cursor: pointer;
  }

.wrapper {
    display: flex;
    max-width: 650px;
    width: 100%;
    height: 400px;
    background: #fff;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }



.img-02 {
    background-image: url(img/dobradinha.jpg);
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
   
}

.img-03 {
    background-image: url(img/costela.jpeg);
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    
}

.baixo-ep { /*parte de baixo do card*/
    height: 40%;
    width: 100%;
    padding: 16px;
    text-align: start;
   
}

.baixo-ep > h3 {
    font-size: 22px;
    letter-spacing: 2px;
    color: #e85d04;
    padding-bottom: 10px;
}

.baixo-ep > p {
    color: rgb(92, 92, 92);
    line-height: 25px;
    margin-top: 15px;
}


.horarios { /*seção dos horários*/
    display: inline-block;
    text-align: center;
    height: auto;
    width: 100%;
    padding: 25px;
    color: black;
}

.titulo-02 {
    font-size: 35px;
    font-family: 'Courier New';
    text-transform: uppercase;
    text-align: center;
}

.subtitulo-02 {
    font-size: 20px;
    font-family: 'Courier New';
    text-transform: uppercase;
    text-align: center;
}

.cards-hr {
    display: inline-block;
    height: 200px;
    width: 250px;
    margin: 15px;
    color: white;
    background-color: #e85d04;
    border-radius: 3px;
    transition: 0.5s;
}

.cima-hr { /*parte de cima do card*/
    height: 20%;
    width: 100%;
    padding: 20px;
    text-align: start;
    text-transform: uppercase;
}

.baixo-hr { /*parte de baixo do card*/
    height: 80%;
    width: 100%;
    padding: 20px;
    text-align: start;
}

.baixo-hr > h3 {
    font-size: 25px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.baixo-hr > p {
    line-height: 30px;
}

.baixo-hr > p > span {
    font-weight: 600;
}

.sobremesas {
    display: inline-block;
    text-align: center;
    height: auto;
    width: 100%;
    padding: 25px;
    color: white;
}

#sobremesas {
    background-image: url(img/background-01.jpg);
    /* background-image: url(img/background-02.jpg); */
    height: 100%;
    width: 100%;
    
}

.titulo-03 {
    font-size: 35px;
    font-family: 'Courier New';
    text-transform: uppercase;
    text-align: center;
}

.subtitulo-03 {
    font-size: 20px;
    font-family: 'Courier New';
    text-transform: uppercase;
    text-align: center;
}

.img-04 {
    background-image: url(img/pudim.jpeg);
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.img-05 {
    background-image: url(img/salada-defrutas.jpg);
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.baixo-sb { /*parte de baixo do card*/
    height: 30%;
    width: 100%;
    padding: 15px;
    text-align: start;
}

.baixo-sb > h3 {
    font-size: 25px;
    letter-spacing: 2px;
    color: #e85d04;
}

.baixo-sb > p {
    color: rgb(92, 92, 92);
    line-height: 25px;
}

.btn-comprar {
    color: #6a040f;
    border: 3px solid #6a040f;
    display: block;
    padding: 15px 10px 15px 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0px 10px 40px #6a040e6b;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.5s;
}

.btn-comprar:hover {
    background-color: #ffc83d;
    transform: scale(1.04);
}

html{
    scroll-behavior: smooth;
}


footer { /*seção dos contatos*/
    color: #f3f3f3;
    padding: 5px;
    background-color: black;
    text-align: center;
}

footer > section > span {
    font-weight: 600;
    font-size: 20px;
}