* {
    padding: 0px;
    margin: 0px;
    outline: none;
    list-style: none;
    text-decoration: none;
    font-family: Helvetica;
    box-sizing: border-box;
} /*regras gerais*/

body {
    width: 100vw;
} /*regras do corpo*/

header {
    width: 100%;
    padding: 5px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    transition: 2s;
} /*regras do menu*/


.logo{
    margin: 0px 0px 0px 10px;
    color: white;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    font-family: 'Courier New';
    text-transform: uppercase;
}

.logo > h4 {
    color: white;
    font-size: 10px;
    font-weight: 600;
    text-align: center; 
    letter-spacing: 5px;
    text-transform: uppercase;
}

.itens {
    display: flex;
    padding: 5px;
    margin: 5px;
}

.btn-menu {
    margin-right: 10px;
    padding: 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.5s;
}

.btn-menu:hover {
    background-color: #e85d04;
    transform: scale(1.04);
}

section {
    width: 100%;
    height: 100%;
    padding: 40px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: white;
}

.home { /*seção paralax*/
    width: 100%;
    height: 100vh;
    padding: 200px 0px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: black;
    border-bottom: 3px solid black;
    text-transform: uppercase;
}

.home > h1 {
    width: 70%;
    font-size: 70px;
    letter-spacing: 4px;
    font-weight: lighter;
}

.home > h3 {
    width:50%;
    padding: 10px;
    font-size: 30px;
    font-family: Lato;
    letter-spacing: 4px;
    font-weight: lighter;
    border-radius: 10px;
    border: 3px solid #e85d04;
}



.horarios { /*seção dos horários*/
    display: inline-block;
    text-align: center;
    height: auto;
    width: 100%;
    padding: 25px;
    color: black;
}

.titulo-02 {
    font-size: 35px;
    font-family: 'Courier New';
    text-transform: uppercase;
    text-align: center;
}

.subtitulo-02 {
    font-size: 20px;
    font-family: 'Courier New';
    text-transform: uppercase;
    text-align: center;
}

.cards-hr {
    display: inline-block;
    height: 200px;
    width: 250px;
    margin: 15px;
    color: white;
    background-color: #e85d04;
    border-radius: 3px;
    transition: 0.5s;
}

.cima-hr { /*parte de cima do card*/
    height: 20%;
    width: 100%;
    padding: 20px;
    text-align: start;
    text-transform: uppercase;
}

.baixo-hr { /*parte de baixo do card*/
    height: 80%;
    width: 100%;
    padding: 20px;
    text-align: start;
}

.baixo-hr > h3 {
    font-size: 25px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.baixo-hr > p {
    line-height: 30px;
}

.baixo-hr > p > span {
    font-weight: 600;
}

.sobremesas {
    display: inline-block;
    text-align: center;
    height: auto;
    width: 100%;
    padding: 25px;
    color: white;
}

#sobremesas {
    background-image: url(img/background-02.jpg);
    height: 100%;
    width: 100%;
}

.titulo-03 {
    font-size: 35px;
    font-family: 'Courier New';
    text-transform: uppercase;
    text-align: center;
}

.subtitulo-03 {
    font-size: 20px;
    font-family: 'Courier New';
    text-transform: uppercase;
    text-align: center;
}

.cards-sb {
    display: inline-block;
    height: 350px;
    width: 350px;
    margin: 15px;
    background-color: white;
    border-radius: 3px;
    transition: 0.5s;
}

.cards-sb:hover {
    transform: scale(1.04);
}

.cima-sb { /*parte de cima do card*/
    height: 70%;
    width: 100%;
}

.img-04 {
    background-image: url(img/pudim.jpeg);
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.img-05 {
    background-image: url(img/salada-defrutas.jpg);
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.baixo-sb { /*parte de baixo do card*/
    height: 30%;
    width: 100%;
    padding: 15px;
    text-align: start;
}

.baixo-sb > h3 {
    font-size: 25px;
    letter-spacing: 2px;
    color: #e85d04;
}

.baixo-sb > p {
    color: rgb(92, 92, 92);
    line-height: 25px;
}



.avaliacoes { /*inicio da seção das avaliações*/
    width: 100%;
    padding: 40px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    background-image: url(img/buffet.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.card-avli {
    width: 45%;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.541);
}

.card-img1 {
    width: 98px;
    height: 15px;
    margin-bottom: 8px;
    display: inline-block;
    background-image: url(img/estrela.png);
    background-position: center;
    background-size: repeat;
}

.card-avli > p {
    font-size: 25px;
    color: rgb(31, 31, 31);
    font-family: sans-serif;
    margin-bottom: 14px;
}

.card-avli > h3 {
    font-size: 18px;
    font-family: Times;
    color: rgb(31, 31, 31);
} /*fim da seção das avaliações*/



footer { /*inicio da seção do rodapé*/
    width: 100%;
    background-color: black;
}

.card-inf01 {
    width: 40%;
    padding-right: 20px;
    border-right: 5px solid #e85d04;
    text-align: start;
}

.card-inf01 > h1 {
    color: #e85d04;
    margin-bottom: 15px;
}

.card-inf01 > p {
    font-size: 15px;
    line-height: 20px;

}

.card-inf01 > p > strong {
    color: #e85d04;
}

.card-inf02 {
    width: 30%;
    height: 300px;
    margin: 0px 40px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgb(105, 105, 105);
    background-image: url(img/mae.jpg);
    background-position: center;
    background-size: cover;
}

.card-inf03 {
    height: 300px;
    padding-left: 120px;
    text-align: center;
    border-left: 5px solid #e85d04;
}

.card-inf03 > h1 {
    color: #e85d04;
    margin-bottom: 15px;
}

.txt {
    font-size: 12px;
    line-height: 30px;
}

.facebook {
    width: 50px;
    height: 50px;
    border: 2px solid #e85d04;
    border-radius: 10px;
    cursor: pointer;
    background-image: url(img/facebook.png);
    background-position: center;
    background-size: cover;
    transition: 1s;
}

.facebook:hover {
    transform: scale(1.2);
}

.instagram {
    width: 50px;
    height: 50px;
    border: 2px solid #e85d04;
    border-radius: 10px;
    cursor: pointer;
    background-image: url(img/instagram.png);
    background-position: center;
    background-size: cover;
    transition: 1s;
}

.instagram:hover {
    transform: scale(1.2);
}

.whatsapp {
    width: 50px;
    height: 50px;
    border: 2px solid #e85d04;
    border-radius: 10px;
    cursor: pointer;
    background-image: url(img/whatsapp.jpg);
    background-position: center;
    background-size: cover;
    transition: 1s;
}

.whatsapp:hover {
    transform: scale(1.2);
}

.desenvolvido {
    width: 100%;
    padding: 25px;
    color: rgb(105, 105, 105);
    text-align: center;
}

@media screen and (max-width: 768px){
    .informacoes {
        flex-wrap: wrap;
    }

    .card-inf1 {
        width: 60%;
        padding-right: 50px;
        border-right: 0px;
    }

    .card-inf2 {
        width: 40%;
        height: 300px;
        margin: 0px;
    }

    .card-inf3 {
        width: 100%;
        height: 150px;
        margin-top: 10px;
        padding-left: 0px;
        border: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .card-inf3 > h1 {
        width: 100%;
        padding: 10px;
    }
}